* {
  padding: 0;
  margin: 0;
  color: aliceblue;
}

body {
  background-color: rgb(24, 24, 24);
}

span {
  padding: 20px;
  cursor: pointer;
}

h2.main-title {
padding: 20px;
}

.active {
  text-decoration: underline;
}

ul {
  text-decoration: none;
  list-style: none;
}

.side-bar-logo {
  margin-right: auto;
  object-fit: contain;
  height: 65px;
  padding: 0;
}
img {
  display: inline-block;
  /* padding: 20px; */
  max-width: 180px;
}

.side-bar-container {
  padding: 20px 10px;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(24, 24, 24);
  overflow: hidden;
}

.left-section {
  flex-basis: 16%;
  background-color: #000;
}

.right-section {
  flex-basis: 80%;
  padding: 20px;
  background-color: #121212;
  overflow-y: scroll;
}

.view-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.category-name {
padding: 0 20px 0 20px;
}

.view-item {
  flex-basis: 180px;
  margin: 10px;
  cursor: pointer;
}

.view-content-container {
  padding: 15px;
    background: #181818;
}

.Header-items {
  padding-bottom: 20px;
}
.view-name {
  padding: 10px 0;
}